* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4845d2;
  --background: #fafafa;

  --light: #e7e7e7;
  --dark: #1a1a1a;
  --gray-400: #827f7f;
  --gray-200: #efebeb;
  --gray-100: #f6f6f6;

  --stroke-gray: #e0e0e0;

  --error: #d60042;
  --red-200: #ff4b4b;

  --default-font: 'inter';
  --secondary-font: 'Raleway';

  font-size: 62.5%;
  /* 10px */
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--dark);
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: var(--default-font), sans-serif;
}

body {
  background-color: var(--background);
  color: var(--dark);
}

.container {
  padding-left: 1.6em;
  padding-right: 1.6em;

  margin: 0 auto;

  margin-bottom: 3.2rem;
}

input {
  width: 100%;
  height: 5.2rem;
  background-color: #f6f4f4;
  color: var(--dark);
  border-radius: 1.2rem;
  border: 0;

  padding: 0 1.2rem;
}

 .numero{
  display: flex;
  background-color: #f6f4f4;
  align-items: center;
  gap: 5px;
  border-radius: 1.2rem;
  padding: 0 1.2rem;
}

.numero p{
  font-weight: 800;
}

.numero input{
  background-color: transparent;
  padding: 0;
  border-radius: 0px;
  border: none;
  outline: none;
}

/*Estilização da pagina confirm*/


.code-input{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 0;
}

.code-input input{
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #827f7f;
}

/*-----------------*/

 #opt{
  width: initial;
  
}

input::placeholder {
  color: #c3bbbb;
}

/* Mobile menu style */
.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.mobile-menu li {
  margin: 1.2rem;
}

.mobile-menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.4rem;

  font-size: 1.4rem;
  color: var(--gray-400);
}

.mobile-menu a.active {
  font-weight: 600;
  color: var(--primary);
}

.mobile-menu a img {
  width: 2.4rem;
  height: 2.4rem;
}

.mobile-menu .container {
  margin-bottom: 0;
}